# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model artifacts
models/
*.pkl
*.joblib

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Kaggle
kaggle.json

# Reports exports
*.csv
*.xlsx
*.parquet
